/* Checkout Page Styles */

.checkout-container {
    min-height: 100vh;
}

.fieldset-label {
    position: relative;
    width: auto;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.stripe-style-input {
    background: white;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.stripe-style-input:focus {
    border-color: #000;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

#card-element {
    border: 1px solid #000;
    border-radius: 0;
    padding: 10px;
    background: white;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000;
}

.btn-black {
    background: #000;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #000;
    border: 1px solid #000;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: white;
}

/* Checkout Success Page Styles */

.order-confirmation-wrapper {
    background: gold;
    margin-top: 20px;
}

.order-confirmation-wrapper .row {
    border-bottom: 1px solid #9b9280;
    padding: 10px 0;
}

.order-confirmation-wrapper .row:last-child {
    border-bottom: none;
}

.order-confirmation-wrapper small {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Loading Overlay */

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.spinner-icon {
    width: 100px;
    height: 100px;
    color: white;
}
